@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

header {
    background-color: rgba(114, 134, 211, 1);
    padding: 20px 20px 0px 20px;


    top: 0;
}

.tit {
    padding-left: 200px;
    padding-right: 200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

h1 {
    text-align: left;
    text-indent: 50px;
    font-family: 'Caramel', cursive;
    font-size: 50px;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 10px 10px 10px black;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    justify-self: center;

}

.eslogan {
    text-align: center;
    font-family: 'Caramel', cursive;
    font-size: 30px;
    font-style: italic;
    text-transform: capitalize;
    padding: 0px 0px 10px 0px;
    text-shadow: 10px 10px 10px black;
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row: 2 / 3;
}

.navbar {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navbar {
    position: sticky;
}

.navbar li a {
    text-decoration: none;
    color: rgba(170, 227, 226, 1);
}

.navbar li {
    padding: 10px;
    font-size: 20px;
}

.circulo {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.966);
    position: absolute;
    top: 10px;


}

main,
.container,
body {
    background-color: rgba(170, 227, 226, 1);
    padding: 0px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.box a {
    text-decoration: none;
}

.box h2 {
    text-align: center;
    color: black;
    padding-bottom: 15px;
}

.boxer {
    width: 350px;
    height: 200px;
}

.servicio h2 {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 20px;
    font-family: 'Caramel', cursive;
    font-size: 40px;

}

.primero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin: 100px;
    box-shadow: 10px 10px 10px black;
    border-style: solid;
    background-color: antiquewhite;
}

.primero p {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    padding-left: 100px;
    padding-right: 100px;
}

.segundo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: 100px;
    box-shadow: 10px 10px 10px black;
    border-style: solid;
    background-color: antiquewhite;

}

.segundo p {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    padding-left: 300px;
    padding-right: 100px;
}

footer {
    background-color: rgba(114, 134, 211, 1);
    font-size: 20px;
    color: rgba(170, 227, 226, 1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100%;
    padding: 10px;

}

.horario {
    grid-column: 1/ 4;
    justify-content: center;
    align-self: center;
    letter-spacing: 1px;
}

.contact {
    display: grid;
    grid-column: 5/ 10;
    padding-bottom: 15px;
    padding-right: 0%;
    text-indent: 5%;
    text-align: left;
    letter-spacing: 1px;
    line-height: 2;
}

.telypos {
    float: left;
    grid-column: 4/ 5;
}

.redes {
    grid-column: 11 / 13;
    justify-self: center;
    align-self: center;
    padding-bottom: 20px;
}

.redes a {
    text-decoration: none;
}

.cards-menu {
    margin-bottom: 15px;
}

.img-container {
    width: 100%;
    height: auto;
}

.img-container img {
    width: 100%;
    height: auto;
}

@media(max-width: 1024px) {
    h1 {
        grid-column: 1 / 10;
        grid-row: 1 / 2;
        justify-self: center;
    }

    .eslogan {
        grid-column: 3 / 10;
        grid-row: 2 / 3;
        justify-self: center;
    }

    .primero p {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .segundo p {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 768px) {
    header {
        background-color: rgba(114, 134, 211, 1);
        padding: 80px 40px 0px 40px;
    }

    .circulo {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.966);
    }

    .navbar {
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center
    }

    h1 {
        display: none;
    }

    .eslogan {
        display: none;
    }

    .primero p {
        display: flex;
        flex-direction: row;
        justify-self: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .segundo p {
        display: flex;
        flex-direction: row;
        justify-self: center;
        align-self: center;
        padding-left: 50px;
        padding-right: 20px;
   }
   .primero img {
    width: 120px;
    height: auto;
}
.segundo img {
    width: 120px;
    height: auto;
}
   }
   @media(max-width: 425px){
    header {
        background-color: rgba(114, 134, 211, 1);
        padding: 80px 40px 0px 40px;
    }
    .navbar li {
        padding: 5px;
        font-size: 14px;

    }
    

    .circulo {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.966);
        
    }

    .navbar {
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 100px;

        
    }

    h1 {
        display: none;
    }

    .eslogan {
        display: none;
    }

    .primero p {
        display: flex;
        flex-direction: row;
        justify-self: center;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }

    .segundo p {
        display: flex;
        flex-direction: row;
        justify-self: center;
        padding-left:10px;
        padding-right: 10px;
        font-size: 14px;
   }
   .primero img {
  display: none;
}
.segundo img {
   display: none;
    }
    footer {
        background-color: rgba(114, 134, 211, 1);
        font-size: 14px;
        color: rgba(170, 227, 226, 1);
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 100%;
        padding: 10px;
    
    }    

}    