.container-ños{
    columns: 4;
    padding: 30px;
}
.img-container-teque{
    background-image: url(../assets/img/tequeños-img.png);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 50vh;
    background-size: cover;
    margin-bottom: 60px;
}
